 {% extends "estrutura.html" %}
 {% block conteudo %}

    <form method = "post" action="/atualizar">
        
                <!--
                    O comando abaixo cria o id oculto para atualizar o produto selecionado
        -->
            <input type="hidden" name="txtId" value="{{ produto.id_produto }}">


        <div class="mb-3">
            <label class="form-label">Nome do Produto</label>
            <input class="form-control" type = "text" name = "txtNome"
            value = "{{ produto.nome_produto }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Marca</label>
            <input class="form-control" type = "text" name = "txtMarca"
            value = "{{ produto.marca_produto }}">
        </div>

        <div class="mb-3">
            <label class="form-label">Preço R$</label>
            <input class="form-control" type = "text" name = "txtPreco"
            value = "{{ produto.preco_produto }}">
        </div>

        <div>
            <button type = "submit" class="btn btn-outline-danger">Editar Produto</button>
        </div>
    </form>
{% endblock %}